<div class="game-header">
  <div class="header-stat">
    <span class="stat-label">Money:</span>
    <span class="stat-value">{{ playerState.money }}₴</span>
  </div>

  <div class="header-stat">
    <span class="stat-label">Total Sales:</span>
    <span class="stat-value">{{ playerState.totalSales }}</span>
  </div>

  <div class="header-stat">
    <span class="stat-label">Free places in garage:</span>
    <span class="stat-value">{{ availableGarageSlots }}/{{ playerState.garageSlots }}</span>
  </div>
</div>
